In [2]:
import pandas as pd

In [4]:
employees_csv = pd.read_csv('employee.csv')
print(employees_csv)

     ID   Name   Age   Salary Department Joining_Date  Experience_Years
0     1    Eve  25.0  55000.0    Finance   2015-01-31                 2
1     2    Bob  35.0  65000.0  Marketing   2015-02-28                 6
2     3  David  40.0  60000.0    Finance   2015-03-31                 3
3     4  David  30.0  70000.0    Finance   2015-04-30                 2
4     5  Frank  40.0  70000.0    Finance   2015-05-31                13
..  ...    ...   ...      ...        ...          ...               ...
95   96  Helen  45.0  90000.0      Sales   2022-12-31                 9
96   97   Jack  30.0  80000.0  Marketing   2023-01-31                 6
97   98    Eve  25.0  70000.0      Sales   2023-02-28                 1
98   99  Grace   NaN  70000.0         IT   2023-03-31                12
99  100  Grace   NaN  72000.0         IT   2023-04-30                12

[100 rows x 7 columns]

In [6]:
employees_csv.isnull().sum()

ID                  0
Name                0
Age                 9
Salary              7
Department          0
Joining_Date        0
Experience_Years    0
dtype: int64

In [20]:
#fill null values with  meanm
employees_csv['Age'].fillna(employees_csv['Age'].mode()[0])
# print(employees_csv)

0     25.000000
1     35.000000
2     40.000000
3     30.000000
4     40.000000
        ...
95    45.000000
96    30.000000
97    25.000000
98    39.285714
99    39.285714
Name: Age, Length: 100, dtype: float64

In [21]:
employees_csv['Salary'].fillna(employees_csv['Salary'].mean(), inplace=True)
print(employees_csv)

     ID   Name        Age   Salary Department Joining_Date  Experience_Years
0     1    Eve  25.000000  55000.0    Finance   2015-01-31                 2
1     2    Bob  35.000000  65000.0  Marketing   2015-02-28                 6
2     3  David  40.000000  60000.0    Finance   2015-03-31                 3
3     4  David  30.000000  70000.0    Finance   2015-04-30                 2
4     5  Frank  40.000000  70000.0    Finance   2015-05-31                13
..  ...    ...        ...      ...        ...          ...               ...
95   96  Helen  45.000000  90000.0      Sales   2022-12-31                 9
96   97   Jack  30.000000  80000.0  Marketing   2023-01-31                 6
97   98    Eve  25.000000  70000.0      Sales   2023-02-28                 1
98   99  Grace  39.285714  70000.0         IT   2023-03-31                12
99  100  Grace  39.285714  72000.0         IT   2023-04-30                12

[100 rows x 7 columns]

/tmp/ipykernel_112620/3369106488.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  employees_csv['Salary'].fillna(employees_csv['Salary'].mean(), inplace=True)

In [22]:
employees_csv.isnull().sum()

ID                  0
Name                0
Age                 0
Salary              0
Department          0
Joining_Date        0
Experience_Years    0
dtype: int64

In [23]:
#save the updated DataFrame to a new CSV file
employees_csv.to_csv('employee_updated.csv', index=False)

In [17]:
employees_csv

     ID   Name        Age   Salary Department Joining_Date  Experience_Years
0     1    Eve  25.000000  55000.0    Finance   2015-01-31                 2
1     2    Bob  35.000000  65000.0  Marketing   2015-02-28                 6
2     3  David  40.000000  60000.0    Finance   2015-03-31                 3
3     4  David  30.000000  70000.0    Finance   2015-04-30                 2
4     5  Frank  40.000000  70000.0    Finance   2015-05-31                13
..  ...    ...        ...      ...        ...          ...               ...
95   96  Helen  45.000000  90000.0      Sales   2022-12-31                 9
96   97   Jack  30.000000  80000.0  Marketing   2023-01-31                 6
97   98    Eve  25.000000  70000.0      Sales   2023-02-28                 1
98   99  Grace  39.285714  70000.0         IT   2023-03-31                12
99  100  Grace  39.285714  72000.0         IT   2023-04-30                12

[100 rows x 7 columns]

In [25]:
#add a new column age in 5years
employees_csv['Age in 5'] = employees_csv['Age'] + 5
print(employees_csv)

     ID   Name        Age   Salary Department Joining_Date  Experience_Years  \
0     1    Eve  30.000000  55000.0    Finance   2015-01-31                 2
1     2    Bob  40.000000  65000.0  Marketing   2015-02-28                 6
2     3  David  45.000000  60000.0    Finance   2015-03-31                 3
3     4  David  35.000000  70000.0    Finance   2015-04-30                 2
4     5  Frank  45.000000  70000.0    Finance   2015-05-31                13
..  ...    ...        ...      ...        ...          ...               ...
95   96  Helen  50.000000  90000.0      Sales   2022-12-31                 9
96   97   Jack  35.000000  80000.0  Marketing   2023-01-31                 6
97   98    Eve  30.000000  70000.0      Sales   2023-02-28                 1
98   99  Grace  44.285714  70000.0         IT   2023-03-31                12
99  100  Grace  44.285714  72000.0         IT   2023-04-30                12

     Age in 5
0   35.000000
1   45.000000
2   50.000000
3   40.000000
4   50.000000
..        ...
95  55.000000
96  40.000000
97  35.000000
98  49.285714
99  49.285714

[100 rows x 8 columns]

In [32]:
employees_csv=employees_csv.drop(columns=['Age in 5'], inplace=True)

KeyError: "['Age in 5'] not found in axis"

In [29]:
df.drop(columns=['Age in 5'])

KeyError: "['Age in 5'] not found in axis"